*,
:after,
:before {
    box-sizing: border-box
}

* {
    margin: 0;
    padding: 0
}

button,
input,
select,
textarea {
    font: inherit
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word
}

canvas,
img,
picture,
svg,
video {
    display: block;
    max-width: 100%
}

h1 {
    line-height: 2em
}

html {
    background-color: #222
}

[data-light-mode],
body,
html {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start
}

body {
    box-sizing: border-box;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
    padding-bottom: -10px
}

[data-light-mode] {
    overflow: scroll
}

[data-light-mode]>header {
    position: relative
}

[data-light-mode],
body,
main {
    flex: 1
}

main {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    padding: 1em;
    z-index: 10
}

aside {
    z-index: 11
}

aside section {
    margin: 10px
}

button.menu-item {
    border: none;
    color: inherit;
    cursor: pointer;
    display: flex
}

button.menu-item,
button.menu-item:active {
    background-color: transparent
}

button.menu-item:hover {
    filter: brightness(130%)
}

[data-light-mode="1"] {
    color: #333
}

[data-light-mode="0"] {
    background-color: #333;
    color: #eee
}

[data-light-mode="0"] header>aside,
[data-light-mode="0"]>header {
    background-color: #444
}

[data-light-mode="1"]>header,
[data-light-mode="1"]>header>aside {
    background-color: #eee
}

section {
    margin-top: 10px;
    min-width: 320px
}

section.tagBar {
    margin: 0
}

section.tagBar[name=activityTypes] {
    text-align: center
}

article {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px 0;
    max-width: 320px;
    padding: 7px
}

a {
    color: #0064c8;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

a:visited {
    color: #0050a0
}

label {
    font-size: .75rem;
    font-weight: 700;
    margin: 5px auto;
    text-transform: uppercase
}

label,
label+p {
    display: inline-block
}

label.tag {
    border-radius: 4px;
    padding: 2px 10px
}

button,
input,
select,
textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    margin: 0 0 .5em;
    padding: .3em
}

input:disabled {
    color: #ccc
}

input[type=range] {
    height: 0
}

input[type=number] {
    padding: .2em;
    width: 4em
}

button {
    line-height: 1.5em;
    margin-bottom: 0;
    padding: 0;
    text-align: center
}

button.icon {
    background-color: #f4f4f4;
    border-radius: 50%;
    height: 2.75em;
    outline: none;
    text-align: center;
    width: 2.75em
}

button.addItem {
    display: block;
    margin: 0 auto
}

button:active {
    background-color: #ddd
}

button:focus {
    border-color: #666
}

button svg {
    margin: auto
}

button.title {
    background-color: transparent;
    border-width: 0;
    color: inherit;
    height: 2.75em;
    max-width: 168px;
    width: 100%
}

[data-viewmode=add] header .since,
[data-viewmode=add] header button.edit-btn,
[data-viewmode=add] header button.list-btn,
[data-viewmode=add] header button.title,
[data-viewmode=edit] header .since,
[data-viewmode=edit] header button.add-btn,
[data-viewmode=hidden],
[data-viewmode=list] header button.add-btn,
[data-viewmode=list] header button.edit-btn,
[data-viewmode=list] section.edit,
[data-viewmode=select] section.edit {
    display: none
}

[data-viewmode=add] section.edit,
[data-viewmode=edit] section.edit,
[data-viewmode=open] [data-viewmode=list] header .since {
    display: block
}

[data-viewmode=edit] header button.edit-btn {
    display: inline-block
}

input[type=number].svelte-1d1omz1 {
    appearance: textfield;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    width: 50px
}

button.svelte-1d1omz1 {
    border-radius: 50%;
    font-size: 25px;
    line-height: .7em;
    padding-bottom: 5px;
    width: 1em
}

label.svelte-1v334q7.svelte-1v334q7.svelte-1v334q7 {
    cursor: pointer;
    display: block;
    margin-bottom: 12px;
    padding-left: 35px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

label.svelte-1v334q7 input.svelte-1v334q7.svelte-1v334q7 {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0
}

.checkmark.svelte-1v334q7.svelte-1v334q7.svelte-1v334q7 {
    background-color: #eee;
    border-radius: 4px;
    height: 30px;
    left: 0;
    position: absolute;
    top: -2px;
    width: 30px
}

label.svelte-1v334q7:hover input.svelte-1v334q7~.checkmark.svelte-1v334q7 {
    background-color: #ccc
}

label.svelte-1v334q7 input.svelte-1v334q7:checked~.checkmark.svelte-1v334q7 {
    background-color: #52aa17
}

.checkmark.svelte-1v334q7.svelte-1v334q7.svelte-1v334q7:after {
    content: "";
    display: none;
    position: absolute
}

label.svelte-1v334q7 input.svelte-1v334q7:checked~.checkmark.svelte-1v334q7:after {
    display: block
}

label.svelte-1v334q7 .checkmark.svelte-1v334q7.svelte-1v334q7:after {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    height: 19px;
    left: 10px;
    top: 2px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 10px
}

label.svelte-1nqufop.svelte-1nqufop.svelte-1nqufop {
    cursor: pointer;
    height: 30px;
    margin-right: 5px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 30px
}

label.svelte-1nqufop input.svelte-1nqufop.svelte-1nqufop {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0
}

.checkmark.svelte-1nqufop.svelte-1nqufop.svelte-1nqufop {
    background-color: #eee;
    border-radius: 50%;
    height: 30px;
    left: 0;
    line-height: 2.5em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 30px
}

label.svelte-1nqufop:hover input.svelte-1nqufop~.checkmark.svelte-1nqufop {
    background-color: #ccc
}

label.svelte-1nqufop input.svelte-1nqufop:checked~.checkmark.svelte-1nqufop {
    background-color: #52aa17
}

header.svelte-nmazvh.svelte-nmazvh {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%
}

header.svelte-nmazvh .svelte-nmazvh:nth-child(2) {
    flex-grow: 1;
    text-align: center
}

.is-complete.svelte-nmazvh.svelte-nmazvh {
    color: green;
    text-decoration: line-through
}

.since.svelte-nmazvh.svelte-nmazvh {
    border: 1px solid #ccc;
    border-radius: 50%;
    height: 45px;
    position: relative;
    text-align: center;
    width: 45px
}

.since.svelte-nmazvh p.svelte-nmazvh {
    font-size: .6em;
    line-height: 1em;
    position: absolute;
    text-align: center;
    width: 100%
}

.since.svelte-nmazvh p.svelte-nmazvh:first-child {
    margin-left: -6px;
    top: -8px;
    width: 130%
}

.since.svelte-nmazvh p.svelte-nmazvh:last-child {
    bottom: -8px
}

[name=activity-occurred-at].svelte-nmazvh.svelte-nmazvh {
    font-size: 15px
}

label.svelte-qb3s0q.svelte-qb3s0q {
    cursor: pointer;
    margin: 3px 6px 0 0;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

label.svelte-qb3s0q input.svelte-qb3s0q {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0
}

label[data-checked=true].svelte-qb3s0q.svelte-qb3s0q {
    box-shadow: 5px 0 #666
}

label.svelte-qb3s0q.svelte-qb3s0q:hover {
    filter: brightness(104%)
}

ul.svelte-12dzelb {
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    margin: 10px 0;
    padding: 0
}

button.svelte-vhnsq1 {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer
}

button.svelte-vhnsq1:hover {
    filter: brightness(130%)
}

aside.svelte-vhnsq1 {
    position: absolute;
    top: 2.8em;
    width: 320px
}

aside.left.svelte-vhnsq1 {
    border-bottom-right-radius: 8px;
    left: 0
}

aside.right.svelte-vhnsq1 {
    border-bottom-left-radius: 8px;
    right: 0
}

.menu-item.svelte-154jvji>h3.svelte-154jvji {
    font-weight: 500;
    margin: 4px 8px
}

.menu-icon.svelte-154jvji.svelte-154jvji {
    height: 30px;
    width: 30px
}

button#light-mode.svelte-ee90ys {
    border-radius: 50%
}

h2.svelte-mjouae {
    text-align: center
}

header.svelte-sl5tyb {
    display: flex;
    justify-content: space-between
}

article.svelte-16r76vy {
    align-items: center;
    border-radius: .2rem;
    color: #fff;
    display: flex;
    margin: 0 auto .5rem;
    padding: .75rem 1.5rem;
    width: 20rem
}

.error.svelte-16r76vy {
    background: #cd5c5c
}

.success.svelte-16r76vy {
    background: #3cb371
}

.info.svelte-16r76vy {
    background: skyblue
}

.text.svelte-16r76vy {
    margin-left: 1rem
}

button.svelte-16r76vy {
    background: transparent;
    border: 0;
    color: #fff;
    font-size: 1rem;
    line-height: 1;
    margin: 0 0 0 auto;
    padding: 0
}

section.svelte-1wow8bn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    margin-top: 1rem;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000
}