/* Reset */
*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; padding:0; }
input, button, textarea, select { font: inherit; }
p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }
img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

/* Spacing Helpers */
.m-5 {margin: 5px;}

/* Typography */
h1 { line-height:2em; }

/* Global */
body {
	background-image: url('../static/druid-pattern-bg2.jpg');
}

html, body, [data-light-mode]{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
body {
	color: #333;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	line-height: 1.5em;
	-webkit-font-smoothing: antialiased;
	padding-bottom:-10px;
}

[data-light-mode] {
	overflow: scroll;
}

[data-light-mode] > header {
	position: relative;
}

body, [data-light-mode], main {
	flex:1;
}

main {
	z-index:10;
	padding:1em;
	display:flex;
	flex-flow: column nowrap;
	align-items: center;
}
aside {
	z-index:11;
}
aside section {
	margin:10px;
}

button.menu-item {
	display: flex;
	border: none;
	background-color: transparent;
	cursor: pointer;
	color: inherit;
}
button.menu-item:active {
	background-color: transparent;
}
button.menu-item:hover {
	filter: brightness(130%);
}

[data-light-mode='1'] {
	color:#333;
}
[data-light-mode='0'] {
	color:#eee;
}


[data-light-mode='0'] main {
	background-color: #333;
}
[data-light-mode='1'] main {
	background-color: #fff;
}

[data-light-mode='0'] > header,
[data-light-mode='0'] header > aside {
	background-color: #444;
}

[data-light-mode='1'] > header,
[data-light-mode='1'] > header > aside {
	background-color: #eee;
}

[data-light-mode='1'] section[name="modals"] button svg,
[data-light-mode='1'] main button svg,
[data-light-mode='1'] section[name="modals"] button svg .fill,
[data-light-mode='1'] main button svg .fill {
	fill: #333;
}
[data-light-mode='1'] section[name="modals"] button svg .stroke,
[data-light-mode='1'] main button svg .stroke {
	stroke: #333;
}

[data-light-mode='0'] section[name="modals"] button svg,
[data-light-mode='0'] main button svg,
[data-light-mode='0'] section[name="modals"] button svg .fill,
[data-light-mode='0'] main button svg .fill{
	fill: #eee;
}

[data-light-mode='0'] section[name="modals"] button svg .stroke,
[data-light-mode='0'] main button svg .stroke {
	stroke: #eee;
}

[data-light-mode='0'] section[name="modals"] button.icon,
[data-light-mode='0'] main button.icon {
	background-color: #252525;
	border-color:#222;
}


section { margin-top: 10px; min-width:308px}

section.tagBar {
	margin:0;
}
section.tagBar[name='activityTypes'] {
	text-align: center;
}

article { 
	padding: 6px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	max-width: 320px;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
  display: inline-block;
  margin: 5px 3px auto;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
}

label + p {
	display:inline-block;
}
label.tag {
	padding: 2px 10px;
	border-radius: 4px;
}
button.tag {
	padding: 2px 10px;
	border-radius: 4px;
	display: inline-block;
	margin: 5px 3px auto;
	text-transform: uppercase;
	font-size: 0.75rem;
	font-weight: bold;
}

/* 
extra characters for tags
- when checked in TagEditor
- when adding remove in TagManager
 */

 div.addTags button.tag span::after,
 section[name="edit-tags"] label[data-checked="false"] span::after {
	content: '+';
	font-size: 1.3em;
	line-height: 0em;
	margin-left: 6px;
}

section[name="edit-tags"] label[data-checked="true"] span::after {
	content: '-';
	font-size: 1.3em;
	line-height: 0em;
	margin-left: 6px;
}

div.removeTags button.tag span::after {
	content: '+';
	display:inline-block;
	font-size: 1.4em;
	line-height: 0em;
	margin-left: 6px;
	transform: rotate(45deg);
}


[data-light-mode='1'] label.tag[data-checked="true"] {
	box-shadow: 0px 3px #666 inset;
}
[data-light-mode='0'] label.tag[data-checked="true"] {
	box-shadow: 0px 3px #ddd inset
}


input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.3em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
}
input:disabled {
	color: #ccc;
}
input[type="range"] {
	height: 0;
}
input[type="number"] {
	padding: 0.2em;
	width:4em;
}

button {
	margin-bottom: 0;
	line-height: 1.5em;
	padding:0;
	text-align: center;
	cursor: pointer;
}

button.icon {
	border-radius: 50%;
	width: 2.75em;
	height: 2.75em;
	text-align: center;
	background-color: #f4f4f4;
	outline: none;
}
button.icon.medium {
	width: 2.3em;
	height: 2.3em;
}
button.icon.small {
	width: 1.7em;
	height: 1.7em;
}

[data-light-mode="0"]button.icon:hover {filter: brightness(120%);}
[data-light-mode="1"]button.icon:hover {filter: brightness(70%);}

button.addItem {
	display: block;
	margin: 0 auto;
} 

button:active {	background-color: #ddd; }
button:focus { border-color: #666; }
button svg{ margin: auto; }

button.title {
	height: 2.75em;
	background-color: transparent;
	border-width: 0px;
	width:100%;
	max-width: 168px;
	color:inherit;
}

.since button.icon {
	position: absolute;
	top: 9px;
	right: -2px;
}

[data-viewmode="hidden"],
[data-viewmode="list"] section.edit,
[data-viewmode="list"] header button.add-btn,
[data-viewmode="list"] header button.edit-btn,
[data-viewmode="edit"] header button.add-btn,
[data-viewmode="edit"] header .since,
[data-viewmode="select"] section.edit,
[data-viewmode="add"] header button.title,
[data-viewmode="add"] header button.list-btn,
[data-viewmode="add"] header button.edit-btn,
[data-viewmode="add"] header .since
{
	display:none;
}

[data-viewmode="open"]
[data-viewmode="list"] header .since,
[data-viewmode="add"] section.edit,
[data-viewmode="edit"] section.edit {
	display:block;
}

[data-viewmode="edit"] header button.edit-btn
{
	display:inline-block;
}


[data-light-mode="0"] section[name='modals'] > section {
	background-color: rgba(50,50,50,0.97);
}
[data-light-mode="1"] section[name='modals'] > section {
	background-color: rgba(255,255,255,0.92);
}


article [data-tab="tags"] .tab-group[data-group="tags"],
article [data-tab="time"] .tab-group[data-group="time"],
article [data-tab="logs"] .tab-group[data-group="logs"] 
{
	display:block;
}

article [data-tab="tags"] .tab-group[data-group="time"],
article [data-tab="tags"] .tab-group[data-group="logs"],
article [data-tab="time"] .tab-group[data-group="tags"],
article [data-tab="time"] .tab-group[data-group="logs"],
article [data-tab="logs"] .tab-group[data-group="time"],
article [data-tab="logs"] .tab-group[data-group="tags"],
article [data-tab="hidden"] .tab-group { display:none; }

section[name='modals'] > section {
	position: fixed;
	top: 0;
	margin-top:0;
	width: 100%;
	height:100%;
	display: flex;
	align-items: center;
    flex-direction: column;
    z-index: 1000;
}

section[name='modals'] > section > .content {
	flex: 1;

	display: flex;
    justify-content: center;
	align-items: center;
    flex-direction: column;
	max-width: 320px;
}

section[name='modals'] > section > .content button.close {
	margin-top: 1em;
	width: 40px;
	height: 40px;
	padding: 2px;
	border-radius: 50%;
}



